@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.semesters-background{
    /* background-image: url("https://img.freepik.com/premium-photo/microprocessor-chipset-central-processor-unit-illumination-circuit_34645-889.jpg?w=900"); */
    background: linear-gradient(yellow,lightblue);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.semesters-card{
    background-color: black;
    color: white;
    font-family: bree serif;
    padding: 5px;
    margin: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 23px;
    
}
.semesters-button12{
    color: black;
    background-color: white;
    position: fixed;
    bottom: 0;
    border-radius: 13px;
    margin: 53px;
    padding: 5px;
    font-family: bree serif;
    text-decoration: none;
}


