@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.subject-card{
    color: white;
    background-color:black;
    font-family: "bree serif";
    text-align: center;
    border-radius: 15px;
    margin: 10px;
    padding: 4px;
    border: 1px solid;
}
.subject-list{
    list-style-type: none;
    color: white;
    background-color:black;
    font-family: "bree serif";
    text-align: center;
    border-radius: 15px;
    margin: 10px;
    padding: 4px;
    border: 1px solid;

}
.semesters-button12{
    color: black;
    background-color: white;
    position: fixed;
    bottom: 0;
    border-radius: 13px;
    margin: 53px;
    padding: 5px;
    font-family: bree serif;
    text-decoration: none;
}
.semester-heading{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}
@media(max-width: 586px){
    .subject-home{
        background: linear-gradient(yellow,lightblue);
        width: 100%;
        height: 100%;
    }
}
@media(min-width: 586px){
    .subject-home{
        background: linear-gradient(yellow,lightblue);
        width: 1300px;
        height: 100%;
    }   
}
@media(max-width: 1200px){
    .subject-home{
        background: linear-gradient(yellow,lightblue);
        width: 100%;
        height: 100%;
    }
}
