@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.subject-home{
    background-image: url("https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-100679.jpg?w=826&t=st=1680079523~exp=1680080123~hmac=55560e61c87aee48e3a2fd8c12f13a53eba74876ed732964e8d49afa9fe88dff");
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}
.subject-card{
    color: white;
    background-color:black;
    font-family: "bree serif";
    text-align: center;
    border-radius: 15px;
    margin: 10px;
    padding: 4px;
    border: 1px solid;
}
.subject-list{
    list-style-type: none;
    color: white;
    background-color:black;
    font-family: "bree serif";
    text-align: center;
    border-radius: 15px;
    margin: 10px;
    padding: 4px;
    border: 1px solid;

}
.semesters-button12{
    color: black;
    background-color: white;
    position: fixed;
    bottom: 0;
    border-radius: 13px;
    margin: 53px;
    padding: 5px;
    font-family: bree serif;
    text-decoration: none;
}
.semester-heading{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}